.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "form-content location-content";
  grid-gap: 32px;
}

.form-content {
  grid-area: form-content;
  border-radius: 5px;
  background: var(--accent-color-2);
  padding: 16px;
}

input[type='text'],
input[type='number'],
input[type='mail'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input:focus, select:focus, textarea:focus ~ label{
  color: red;
}

input[type='submit'] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

label {
  font-size: 12px;
  color:  var(--accent-color-1);
}

.location-content {
  grid-area: location-content;
}
