/*Header.js css*/
.header-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 50px 1fr;
  grid-template-areas:
    "header-logo"
    "main-menu"
    "main-banner";
}

.header-logo {
  grid-area: header-logo;
}

.header-logo img {
  display: block;
  margin: 0 auto;
}
/*This nav belongs to MainMenu.js - it's in here because grid*/
nav {
  grid-area: main-menu;
}

.main-banner {
  grid-area: main-banner;
  height: 200px;
  overflow: hidden;
}

.main-banner img {
  max-width: 100%;
}

@media (min-width: 700px) {
  .header-container {
    grid-template-columns: 250px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
      "header-logo main-menu"
      "main-banner main-banner";
  }

  .main-banner {
    height: 350px;
  }
}

@media (min-width: 1270px) {
  .header-container {
    padding-left: 300px;
    padding-right: 300px;
  }
}
