.home-intro-container {
  background-color: var(--bg-color);
  border-radius: 2px;
  border: 1px;
  border-color: rgba(0, 0, 0, 0.25);
  border-style: solid;
  margin: 16px;
}

.home-container p {
  text-align: center;
  padding: 0 16px 0 16px;
}

.quote {
  font-style: italic;
  font-size: 34px;
  font-weight: lighter;
  text-align: center;
  padding: 16px;
}

.title {
  text-align: center;
  padding: 16px;
  text-decoration: underline;
}

.home-content {
  grid-area: home-content;
  text-align: center;
}

@media (min-width: 700px) {
  .citat {
  padding: 16px;
  margin-top: 48px;

  }
}

@media (min-width: 1270px) {
  .home-container {
    padding-left: 300px;
    padding-right: 300px;
  }


  .home-intro-container {
    margin: 16px auto;
  }
}
