nav {
  font-size: 12px;
  text-align: center;
}

nav ul {
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline;
  margin: 6px;
}

nav li a {
  text-decoration: none;
  color: var(--main-color);
  cursor: pointer;
}

@media (min-width: 700px) {
  nav {
  font-size: 20px;
  font-weight: bold;
  }

  nav li {
    list-style: none;
    margin: 16px;
  }
}

@media (min-width: 600px) {
  nav {
    font-size: 20px;
    text-align: right;
  }
}

.active {
  font-weight: bold;
  color: var(--accent-color-2) !important;
}
