
a {
  color: inherit;
}

.sc-container {
  background-color: var(--bg-color);
  border-radius: 2px;
  border: 1px;
  border-color: rgba(0, 0, 0, 0.25);
  border-style: solid;
  margin: 16px;
  vertical-align: top;
  width: 250px;
  cursor: pointer;
  white-space: normal;
  text-align: center;
}

.sc-header {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  vertical-align: top;
  display: inline-block;
  width: inherit;
}

.sc-header h1 {
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  margin: 16px 16px 24px 16px;
  color: var(--main-color);
}

.sc-richmedia img {
  max-width:100%;
  max-height:100%;
}

.sc-text {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  vertical-align: top;
  min-height: 66px;
}

.sc-text p {
  font-size: 12px;
  margin: 16px 16px 24px 16px;
}

.sc-container a {
  display: block;
}

.hvr {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.hvr-float {
  transition: box-shadow 0.1s ease-out;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

@media (min-width: 700px) {
  /* service card float effect */
  .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.1s ease-in;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
