:root {
  --main-color: #5699D2;
  --accent-color-1: #DFDA50;
  --accent-color-2: #DF4B38;
  --accent-color-3: #54E980;
  --accent-color-4: #AD54E9;
  --bg-color: #f4f3ee;
}

html {
  overflow-y: scroll;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

body {
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #2d2d2d;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "section"
    "footer";
}

header {
  grid-area: header;
}

section {
  grid-area: section;
}


footer {
  grid-area: footer;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 16px 0px 16px 0px;
  margin-top: 48px;
  background-color: var(--accent-color-4);
}
