:root {
  --main-color: #5699D2;
  --accent-color: #DFDA50;
  --accent-color-2: #DF4B38;
  --accent-color-3: #54E980;
  --accent-color-4: #AD54E9;
  --bg-color: #f4f3ee;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  color: #2d2d2d;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin: 16px;
  padding: 16px;
}

.container {
  display: grid;
  grid-gap: 5px;
  grid-template-areas:
  "header"
  "section"
  "footer";

}



.sc-container {
  background-color: var(--bg-color);
  border-radius: 2px;
  border: 1px;
  border-color: rgba(0, 0, 0, 0.25);
  border-style: solid;
  margin: 16px;
  vertical-align: top;
  width: 250px;
  cursor: pointer;
  white-space: normal;
  text-align: center;
}

.sc-header {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  vertical-align: top;
  display: inline-block;
  width: inherit;
}

.sc-header h1 {
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  margin: 16px 16px 24px 16px;
  color: var(--main-color);
}

.sc-richmedia img {
  max-width:100%;
  max-height:100%;
}

.sc-text {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  vertical-align: top;
  min-height: 66px;
}

.sc-text p {
  margin: 16px 16px 24px 16px;
}

.sc-container a {
  display: block;
}

/* service card float effect */
.hvr-float {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.1s ease-out;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.1s ease-in;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.header-container {
  position: relative;
  height: 100px;
}

.header-logo {
  position: absolute;
  left: 0;
  margin-left: 10%;
  margin-right: 10%;
  display: inline;
}

.header-logo img {
  max-width: 100%;
  height: auto;
}

.header-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
  font-weight: bold;
}

.header-menu ul {
  list-style-type: none;
}

.header-menu li {
  list-style: none;
  margin: 16px;
  display: inline;
}

.header-menu li a {
  text-decoration: none;
  color: var(--main-color);
  cursor: pointer;
}

.header-menu li a:hover {
  /*insert animation*/
}

.header-menu .icon {
  display: none;
}

.active {
  font-weight: bold;
  color: var(--accent-color-2) !important;
}

.main-banner {
  height: 300px;
  overflow: hidden;
}

.main-banner img {
  max-width: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 16px 0px 16px 0px;
  margin-top: 48px;
  width: 100%;
  background-color: var(--accent-color-4);
}
